div{height: 100px; 
    background-color: pink; 
    width: 100px;
    border-width: 2px;
    border-style: solid;
    text-align: right;}
    

h1{width: 200px;
    height: 50px;
    background-color: aqua;

    border: 2px solid blue;
    /* border-width: 3px;
    border-style: dashed;
    border-color: black; */
    text-align: center;
    
    border-radius: 15px;}