*
#div1{height: 100px; width: 100px;background-color: aquamarine; border: 2px solid pink; padding-left: 20px; padding-right: 20px;}

#div2{height: 100px; width: 100px;background-color: aquamarine; border: 2px solid pink; padding: 25px    ;}

#div3{height: 100px; width: 100px;background-color: aquamarine; border: 2px solid pink; margin-top: 50px;}

