/* h1{color:#CDB4DB;}

p{ color: #FFAFCC;}

button{color: #FFAFCC; background-color: #BDE0FE;}

body{background-color: #A2D2FF} */

*{color: pink;}

h1{color: greenyellow;}

#heading{color: aqua;}
#para{color: brown;}

.one{color: aqua;}

