p{text-align: center;}
h1{text-align: center;text-decoration: overline;}
h1{text-align: center;text-decoration: dotted;}

#h1{font-weight: normal;}
#h2{font-weight: bold;}
#h3{font-weight: bolder;}
#h4{font-weight: 100;}

p{font-family: Arial, Helvetica, sans-serif;}