*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
    background: #d3bee0;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #000425;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
h2{
    color: aliceblue;
}

.choice{
    height: 157px;
    width: 157px;
    /* background-color: #000425; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: #c491e4;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}
.score-board{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 2rem;
    font-family: cursive;
}
#user, #comp{
    font-size: 4rem;
}

.message-container{
    margin-top: 2rem;
}
#message{
    background-color: #000425;
    color: aliceblue;
    font-size: 2rem;
    font-family: cursive;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}