.user-container{
    background-color: rgb(85, 255, 165);
    padding: 25px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: black;
    margin: 1rem;
    border-radius: 10px;
}
#user-image{
    width: 50%;
    border-radius: 50%;
}